<!DOCTYPE HTML>
<html>
<head>
    <title>Error - PubMed Pal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--Favicon block-->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/resources/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://pubmedpal.s3.us-east-2.amazonaws.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://pubmedpal.s3.us-east-2.amazonaws.com/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="https://pubmedpal.s3.us-east-2.amazonaws.com/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./error-styles.css" />
    
</head>
<body>
    <div id="error-page">
    <h1>Error</h1>
        <p>&#9881;&#65039; Sorry, something went wrong. &#9881;&#65039;</p>
    </div>
</body>
</html>