<!DOCTYPE HTML>
<html>
<head>
    <title>PubMed Pal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--Favicon block-->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/resources/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://pubmedpal.s3.us-east-2.amazonaws.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://pubmedpal.s3.us-east-2.amazonaws.com/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="https://pubmedpal.s3.us-east-2.amazonaws.com/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css" />
    <link rel="stylesheet" href="./styles.css" />
    
    <!-- Add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- Link to JavaScript -->
    <script src="script.js"></script>    
    
</head>
<body>
    <h1>PubMed Pal</h1>
    <div id="my-botui-app">
        <bot-ui></botui>
    </div>
    <div id=msg-box>
        <textarea autofocus id="message"></textarea><button id="send-btn">Send</button>
    </div>
        <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://unpkg.com/botui/build/botui.js"></script>
</body>
</html>